<header
  class="fixed left-0 top-0 h-screen w-64 bg-[#fefefe] text-black shadow-lg"
>
  <div class="flex flex-col items-center pt-6 border-b border-white/10">
    <img src="assets/logo-img.png" alt="SageMedic AI" class="h-30 rounded-[25px] mb-3" />
    <h1 class="text-2xl font-semibold text-center">SageMedic AI</h1>
  </div>
  <nav class="mt-6">
    <ul class="flex flex-col space-y-2">
      @for (item of navItems; track item.path) {
      <li class="flex justify-center">
        <a
          [routerLink]="item.path"
          class="flex items-center gap-3 w-[90%] px-6 py-3 text-black hover:bg-[#eaf0fe] hover:text-[#2352b7] font-semibold rounded-lg transition-colors duration-200"
        >
          <mat-icon
            aria-hidden="false"
            aria-label="menu-icon"
            fontIcon="{{item.matIcon}}"
          ></mat-icon>
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </nav>
</header>
